body {
    background-color: #cecece;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
    padding: 30px;
    margin-top: 0;
    text-align: center;
    color: white;
    background-color: grey;
}

.card-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card-content p {
    font-size: 25px;
}

.icon-blue {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(18, 144, 248)), to(rgb(31, 27, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-red {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 144, 18)), to(rgb(255, 27, 31)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
    .card-container {
        margin: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

.chart-container h1 {
    text-align: center;
}
